{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Inter&display=swap" rel="stylesheet">

<script src="https://js.stripe.com/v3/"></script>

<style>
	.StripeElement {
	box-sizing: border-box;

	<h3>Index.html</h3>

	height: 40px;

	padding: 10px 12px;

	border: 1px solid transparent;
	border-radius: 4px;
	background-color: white;

	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
	}

	.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
	}

	.StripeElement--invalid {
	border-color: #fa755a;
	}

	.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
	}
</style>


     <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        </div>


    <div class="content-section">

        <form method="POST" id="payment-form">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}
            </fieldset>

            <div>
              <label><br>
                Your Credit is : {{cred}}
              </label>
            </div>

            <div class="form-group">
<!--                <input  class="myButton" style="background-color:#10a195" type="submit" value="Submit Payment" name="">-->
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>

        </form>

    </div>

{% endblock content %}