<!doctype html>
{% load static %}
{% load humanize %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<!--      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <title>Hello, world!</title>

    <style>
        .text-blur {
            color: transparent;
            text-shadow: 0 0 8px rgb(0 0 0 / 50%);
        }
    </style>
  </head>

  <body>

  <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Django Blog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <!-- Navbar Right Side -->

            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <p class="nav-item"><b> Credits ({{cred}}) </b></p>
              {% endif %}
            </div>

          </div>
        </div>
      </nav>

    </header>


    <div class="container">

        <form method="post" action="{% url 'premium-data' %}">
        {% csrf_token %}

        <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th class="all"><input type="CheckBox">&nbsp; Select</th>
                <th class="all">Name</th>
                <th>Site</th>
                <th>Site Type</th>
                <th>DA Score</th>
                <th>Monthly Traffic</th>
                <th>Follow/Unfollow Link</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        </table>

        <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <h4 class="text-center"><b>30</b> credit(s) charged per <b>ROW</b></h4>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->

<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->

<!--   <script type="text/javascript">-->
<!--    $(function () {-->
<!--        $("#btnGet").click(function () {-->
<!--            //Create an Array.-->
<!--            var selected = new Array();-->

<!--            //Reference the CheckBoxes and insert the checked CheckBox value in Array.-->
<!--            $("#tblFruits input[type=checkbox]:checked").each(function () {-->
<!--                selected.push(this.value);-->
<!--            });-->

<!--            //Display the selected CheckBox values.-->
<!--            if (selected.length > 0) {-->
<!--                var kk = selected.length;-->

<!--                document.getElementById("ser").innerHTML = kk;-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--    </script>-->

    <!-- <script>
    $(document).ready(function() {
        
        let table = $('#example').DataTable({
            paging: true,
            processing: true,
            ajax: function ( data, callback, settings ) {

                $.ajax({
                    url: '{% url 'StartupSubmissionListTestesing' %}',
                    // dataType: 'text',
                    type: 'post',
                    // data: {
                    //     RecordsStart: data.start,
                    //     PageSize: data.length
                    // },
                    success: function( data, textStatus, jQxhr ){
                        callback({
                            // draw: data.draw,
                            data: data,
                            // recordsTotal:  data.TotalRecords,
                            // recordsFiltered:  data.RecordsFiltered
                        });
                    },
                    error: function( jqXhr, textStatus, errorThrown ){
                    }
                });
            },
            serverSide: true,
            "columns": [
                {"data": "name"},
                {"data": "site"},
                {"data": "site_type"},
                {"data": "da_score"},
                {"data": "monthly_traffic"},
                {"data": "follow_unfollow_link"},
            ]
        });
    });
    </script> -->

    <script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable({
            "processing": true,
            "serverSide": true,
            "paging": true,
            "pageLength": 50,
        
            "ajax": {
                "url": "{% url 'StartupSubmissionListTestesing' %}",
                "type": "POST"
            },
            "columns": [
                { 
                    "data": "id",                   
                    "render": function ( data, type, row ) {
                        return '<input type="checkbox" id="devel-generate-content-form" class="checkbox chk" name="fcm" value="'+data+'"/>';
                    }
                },
                { "data": "name" },
                { "data": "site" },
                { "data": "site_type" },
                { "data": "da_score" },
                { "data": "monthly_traffic" },
                { "data": "follow_unfollow_link" },
                
            ]
        });
    });
    </script>

  </body>
</html>

